<!doctype html>
<html lang="en">
<!-- head.html -->
<div th:replace="fragment/head :: head"></div>
<!-- head.html 끝 -->
<body>
<!-- header.html -->
<div th:replace="fragment/header :: header"></div>
<!-- header.html 끝-->
<div class="wrapper">
	<!-- aside.html 시작 -->
	<div th:replace="fragment/aside :: aside"></div>
	<!-- aside.html 끝 -->
	<section class="content">
		<div class="row">
			<div class="col-md-12">
				<article class="widget">
					<header class="widget__header">
						<h3 class="widget__title" style="font-size: 21px;
                        font-weight: bold;">식당정보 등록</h3>
					</header>
					<form>
						<div class="widget__content">
							<input type="text" style="font-size: 17px;border: none;" th:value="${name}" id="resaBisName" readonly/>
							<input type="text" th:field="${info.bisDesc}" class="input-text" id="bisDesc" placeholder="한줄 소개" style="padding-left: 12px;margin-top: 17px;"/>
							<div class="dropdown" style="margin-bottom: 10px;">
								<select name="one" class="dropdown-select" id="bisCategory" style="color: #6e6f79">
									<option value="식당 카테고리">식당 카테고리</option>
									<option th:selected="${info.bisCategory} == '닭,오리'" value="닭,오리">닭, 오리</option>
									<option th:selected="${info.bisCategory} == '육류,고기요리'" value="육류,고기요리">육류,고기요리</option>
									<option th:selected="${info.bisCategory} == '해물 요리'" value="육류,고기요리">해물 요리</option>
									<option th:selected="${info.bisCategory} == '우마카세'" value="우마카세">한우오마카세</option>
									<option th:selected="${info.bisCategory} == '오마카세'" value="오마카세">스시오마카세</option>
									<option th:selected="${info.bisCategory} == '다이닝 바'" value="다이닝 바">다이닝 바</option>
									<option th:selected="${info.bisCategory} == '와인'" value="와인">와인</option>
									<option th:selected="${info.bisCategory} == '이탈리안'" value="이탈리안">이탈리안</option>
									<option th:selected="${info.bisCategory} == '파스타'" value="파스타">파스타</option>
									<option th:selected="${info.bisCategory} == '카페'" value="카페">카페</option>
									<option th:selected="${info.bisCategory} == '브런치'" value="브런치">브런치</option>
									<option th:selected="${info.bisCategory} == '중식'" value="중식">중식</option>
									<option th:selected="${info.bisCategory} == '기타세계음식'" value="기타세계음식">기타 세계 음식</option>
								</select>
							</div>
							<div class="dropdown" style="margin-bottom: 10px;">
								<select name="one" class="dropdown-select" id="bisRegion" style="color: #6e6f79">
									<option value="지역">지역</option>
									<option th:selected="${info.bisRegion} == '서울,청담'" value="서울,청담">청담</option>
									<option th:selected="${info.bisRegion} == '서울,이태원'" value="서울,이태원,한남">이태원,한남</option>
									<option th:selected="${info.bisRegion} == '서울,강남'" value="서울,강남">강남</option>
									<option th:selected="${info.bisRegion} == '서울,홍대'" value="서울,홍대">홍대</option>
									<option th:selected="${info.bisRegion} == '서울'" value="서울">서울</option>
									<option th:selected="${info.bisRegion} == '부산'" value="부산">부산</option>
									<option th:selected="${info.bisRegion} == '경기도'" value="경기도">경기도</option>
									<option th:selected="${info.bisRegion} == '인천'" value="인천">인천</option>
									<option th:selected="${info.bisRegion} == '경상도'" value="경상도">경상도</option>
									<option th:selected="${info.bisRegion} == '충청도'" value="충청도">충청도</option>
									<option th:selected="${info.bisRegion} == '제주도'" value="제주도">제주도</option>
									<option th:selected="${info.bisRegion} == '강원도'" value="강원도">강원도</option>
									<option th:selected="${info.bisRegion} == '대구'" value="대구">대구</option>
									<option th:selected="${info.bisRegion} == '전라도'" value="전라도">전라도</option>
								</select>
							</div>
							<input type="text" th:field="${info.bisLunch}" class="input-text" id="bisLunch" placeholder="점심 가격대 ex) 1 - 3 만원" style="padding-left: 12px;"/>
							<input type="text" th:field="${info.bisDinner}" class="input-text" id="bisDinner" placeholder="저녁 가격대 ex) 1 - 3 만원" style="padding-left: 12px;"/>
							<div style="width: 100%;">
								<div style="text-align: right;">
									<a href="/re_password" class="btn cyan small" style="margin: 0;color: white">비밀번호 변경</a>
									<a id="bisBtn" class="btn red small" style="margin: 0;color: white">저장하기</a>
								</div>
							</div>
						</div>
					</form>
				</article>
			</div>
		</div>
	</section> <!-- /content -->
</div> <!-- /wrapper -->
<!--footer.html 시작-->
<div th:replace="fragment/footer :: footer"></div>
<!--footer.html 끝-->
<script src="/js/bistro.js"></script>
</body>
</html>